body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
.top{
  padding: 12.5rem;
  position: relative;
  background-color: #E4F9F5;
  padding-bottom: 3.125rem
}
.top_cloud{
  position: absolute;
  right: 10%;
  top: 10%;
}
.bottom_cloud{
  position: absolute;
  left: 10%;
  bottom: 70%;
}
.interduce{
  width: 50%;
  margin: 0 auto;
}
h1 {
  color:#66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;

}
h2 {
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;



}
h3{
  font-family: 'Merriweather', serif;

}
p {
  line-height: 2;
}

.middle-container{
  margin-top: 50px;
}
.skills_img{
  padding: 1.25rem;
  float: left;
  width: 10%;
  height: 10%;
}
.skill-row{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
}
.bottom-container{
  margin-top: 80px;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  margin: 100px ;

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999b);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999b);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999b);
  background-image: -o-linear-gradient(top, #11cdd4, #11999b);
  background-image: linear-gradient(to bottom, #11cdd4, #11999b);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 20px 10px 7px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

.btn:hover {

  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
